@model CrudNet7MVC.Models.Contacto
@{
    ViewData["Title"] = "Lista de contactos";
}

<h1 class="text-center">Contactos con MVC .NET 7.</h1>
<div class="row">
    <div class="offset-9 col-3 mb-3">
        <button type="button" class="btn btn-primary d-block" data-toggle="modal" data-target="#modalCrearEditarDetalles" id="btnAgregar">
            <i class="bi bi-trash mr-2"></i>
            Agregar contacto
        </button>
    </div>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card-header bg-dark text-white">
            <h3 class="card-title">Lista de contactos</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tblUsuarios" aria-describedby="dataTable_info" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Celular</th>
                            <th>Email</th>
                            <th>Fecha Creacion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCrearEditarDetalles">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h4 class="modal-title">Crear Contacto</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="bg-dark text-white close">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="formCrearEditarDetalles" method="POST">
                    <input type="hidden" id="id" name="id" value="0">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="Nombre" for="nombre" class="col-sm-3 col-form-label">Nombre</label>
                        <div class="col-sm-9 mb-3">
                            <input id="nombre" asp-for="Nombre" class="form-control" type="text" name="nombre" placeholder="Nombre" required>
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Telefono" for="telefono" class="col-sm-3 col-form-label">Telefono</label>
                        <div class="col-sm-9 mb-3">
                            <input id="telefono" asp-for="Telefono" class="form-control" type="text" name="telefono" placeholder="Telefono" required>
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Celular" for="celular" class="col-sm-3 col-form-label">Celular</label>
                        <div class="col-sm-9 mb-3">
                            <input id="celular" asp-for="Celular" class="form-control" type="text" name="celular" placeholder="Celular" required>
                            <span asp-validation-for="Celular" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Email" for="email" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9 mb-3">
                            <input type="email" id="email" asp-for="Email" class="form-control" name="email" placeholder="Email" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" id="btnGuardar">Guardar</button>
                                <button type="button" id="btnCancelar" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="modalEliminarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <input type="hidden" id="idEliminar" name="idEliminar" value="0">
                <h5 class="modal-title" id="modalEliminarLabel">Eliminar contacto</h5>
                <button class="btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este contacto?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="btnEliminar">Eliminar</button>
                <button class="btn btn-secondary" id="btnCerrarEliminar" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Crear/Editar -->
@section Scripts{
    <script>
    $(document).ready(function () {
        //Llamar a datatable y generar la tabla de datos
        $('#tblUsuarios').DataTable({
            ajax: {
                url: "/Inicio/GetAll"
            },
            columns: [
                { "data": "nombre" },
                { "data": "telefono" },
                { "data": "celular" },
                { "data": "email" },
                { "data": "fechaCreacion" },
                {
                    "data": "id",
                    "render": function (data) {
                        return '<div class="btn-group" role="group" aria-label="Basic example">' +
                            '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCrearEditarDetalles" data-id="' + data + '"><i class="bi bi-pencil-square"></i></button>' +
                            '<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalEliminar" data-id="' + data + '"><i class="bi bi-trash"></i></button>' +
                            '</div>';
                    }
                }
            ],
            language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
        });

        $('#modalCrearEditarDetalles').on('show.bs.modal', function (event) {
            var id = $(event.relatedTarget).data('id');
            var modal = $(this);
            if (id > 0) {
                modal.find('.modal-title').text('Editar Contacto');
                $.ajax({
                    url: '/Inicio/GetById',
                    data: { id: id },
                    type: 'POST',
                    success: function (data) {
                        let contacto = data.data;
                        modal.find('#id').val(contacto.id);
                        modal.find('#nombre').val(contacto.nombre);
                        modal.find('#telefono').val(contacto.telefono);
                        modal.find('#celular').val(contacto.celular);
                        modal.find('#email').val(contacto.email);
                    }
                });
            } else {
                modal.find('.modal-title').text('Crear Contacto');
                modal.find('#id').val(0);
                modal.find('#nombre').val('');
                modal.find('#telefono').val('');
                modal.find('#celular').val('');
                modal.find('#email').val('');
            }
        });

         $('#modalEliminar').on('show.bs.modal', function (event) {
            var id = $(event.relatedTarget).data('id');
            $('#idEliminar').val(id);
        });

        $('#btnEliminar').click(function (event) {
            let id = $('#idEliminar').val();
            let modal = $('#modalEliminar');
            $.ajax({
                url: '@Url.Action("Delete", "Inicio")',
                data: { id: id },
                type: 'POST',
                success: function (data) {
                    modal.find('#btnCerrarEliminar').click();
                    $('#tblUsuarios').DataTable().ajax.reload();
                    Swal.fire({
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });
        });

        $('#btnGuardar').click(function (event) {
            event.preventDefault();
            let modal = $('#modalCrearEditarDetalles');
            let id = $('#id').val();
            let nombre = $('#nombre').val();
            let telefono = $('#telefono').val();
            let celular = $('#celular').val();
            let email = $('#email').val();
            if (id > 0) {
                $.ajax({
                    url: '@Url.Action("Update", "Inicio")',
                    data: { id: id, nombre: nombre, telefono: telefono, celular: celular, email: email },
                    type: 'POST',
                    success: function (data) {
                        if (data.success) {
                            modal.find('#btnCancelar').click();
                            $('#tblUsuarios').DataTable().ajax.reload();
                            Swal.fire({
                                icon: 'success',
                                title: data.message,
                                showConfirmButton: false,
                                timer: 1500
                            });
                        } else {
                            var errorMessages = '';
                            $.each(data.errors, function (key, value) {
                            errorMessages += value + '<br>';
                            });
                            Swal.fire({
                                icon: 'error',
                                title: data.message,
                                html: errorMessages
                            });
                        }
                    }
                });
            } else {
                $.ajax({
                    url: '@Url.Action("Create", "Inicio")',
                    data: { nombre: nombre, telefono: telefono, celular: celular, email: email },
                    type: 'POST',
                    success: function (data) {
                        if (data.success) {
                            modal.find('#btnCancelar').click();
                            $('#tblUsuarios').DataTable().ajax.reload();
                            Swal.fire({
                                icon: 'success',
                                title: data.message,
                                showConfirmButton: false,
                                timer: 1500
                            });
                        } else {
                            var errorMessages = '';
                            $.each(data.errors, function (key, value) {
                            errorMessages += value + '<br>';
                            });
                            Swal.fire({
                                icon: 'error',
                                title: data.message,
                                html: errorMessages
                            });
                        }
                    }
                });
            }
        });
    });

    </script>
}

